body {

    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlhzlXjUXhjAYkUvvBXvhtUl-0mLVzvILidQ&usqp=CAU);
    background-size: cover;
    font-family: Andale Mono, monospace;
    font-size: large;
    text-align: center;
    color: bisque;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    
}

#message-el {
    
    font-style: italic;
    font-style: bold;
}

button {
    background-color: goldenrod;
    color: #016f32;
    font-family: Andale Mono, monospace;
    font-size: large;
    font-weight: bold;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}



